<launch>
 <include file="$(find xrxr_dfrobot)/launch/t265.launch"/>
 <node name="xrxr_dfrobot_cfg" pkg="xrxr_dfrobot" type="xrxr_cfg.py" output="screen" />
 <node name="xrxr_dfrobot_pid" pkg="xrxr_dfrobot" type="pid.py" output="screen" >
    <param name="odom" value="/camera/odom/sample" /> 
    <param name="cmd_vel" value="/cmd_vel" /> 
 </node>
 <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map" args="0 0 0 0 0 0 1 map camera_odom_frame" />
</launch>